doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Car Inventory 
    .contentWrapper
      div(class='navBar')
        ul
          li
            a(href='/catalog') Home 
          li
            a(href='/catalog/cars') Cars
          li
            a(href='/catalog/bodyTypes') BodyTypes
          li
            a(href='/catalog/models') Models
          li
            a(href='/catalog/years') Years
          li
            a(href='/catalog/makes') Make
        ul
          li
            a(href='/catalog/car/create') Create Car
          li
            a(href='/catalog/bodyType/create') Create BodyType
          li
            a(href='/catalog/model/create') Create Model
          li
            a(href='/catalog/year/create') Create Year
          li
            a(href='/catalog/make/create') Create Make
      block content
        .content
