extends layout 

block content 
  .form 
    h1=title 

    form(method='POST' action='')
      div
        label(for='name') Name: 
        input(type='text', placeholder='Honda, Toyota, etc.' name='name' value=(undefined===make ? '' : make.name))
        label(for='make') Year founded: 
        input(type='number', name='year' placeholder=2000 min=1 max=9999 value=(undefined===make ? '' : make.year_founded))
        label(for='description') Description: 
        input(type='text', placeholder='Description here...' name='description' value=(undefined===make ? '' : make.description))
      button(type='submit') Submit 

    if errors 
      ul
        for error in errors 
          li!=error.msg