body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(white, lightgray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body > h1:first-child {
  padding: 20px 100px;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navBar > ul > li {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
ul,
li,
h1 {
  padding: 0;
  margin: 0;
}
ul {
  text-decoration: none;
  list-style: none;
}

a {
  color: #00b7ff;
  font-size: larger;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.content {
  grid-column: 2/3;
}

.contentList {
  padding: 0px 20px;
}

.contentList > li {
  border-bottom: 1px solid black;
}

.contentList > li > div > div {
  padding: 20px;
  padding-top:0px;
}

.contentList div {
  display: flex;
}

.detail > h1,.form >h1 {
  border-bottom:1px solid black;
  padding-bottom: 10px;
}

form {
  padding: 20px;
}